/* Payments Page */
body {
    background-color: #f3f4f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}

/* Container chính */
.cozyhome-container {
    max-width: 1200px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

/* Tiêu đề */
.cozyhome-user-management-title {
    font-size: 2.2em;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.cozyhome-payments-list {
    margin-bottom: 30px;
}

#bills-container {
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.bill-item {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bill-item:last-child {
    border-bottom: none;
}

.bill-item strong {
    color: #28a745;
}

.cozyhome-payment-form {
    margin-top: 30px;
}

.cozyhome-payment-form label {
    font-size: 14px;
    color: #343a40;
    display: block;
    margin-bottom: 5px;
}

.cozyhome-payment-form input,
.cozyhome-payment-form select {
    width: 98%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.cozyhome-btn {
    padding: 10px 20px;
    background-color: #28a745; /* Màu xanh lá cây */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cozyhome-btn-primary {
    background-color: #28a745; /* Màu xanh lá cây */
}

.cozyhome-btn:hover {
    background-color: #218838; /* Màu xanh lá cây đậm hơn khi hover */
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .cozyhome-container {
        padding: 15px;
    }

    .cozyhome-payments-title {
        font-size: 24px;
    }

    .bill-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cozyhome-btn {
        width: 100%; /* Nút bấm chiếm toàn bộ chiều rộng màn hình trên di động */
    }
}

/* Tổng số tiền */
#total-amount-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f2f5;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: right;
}

#total-amount-container h4 {
    font-size: 18px;
    color: #28a745;
}
