body {
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 250px;
    margin-top: 20px;
}

.navbar{
    margin-left: 250px;
}

h2 {
    color: #73879c;
    font-size: 30px;
    font-weight: 700;
}


.table-wrapper {
    margin-top: 20px;
}

.form-inline label {
    font-weight: bold;
    color: #73879c;
    margin-right: 10px;
}

.header-btn {
    margin-left: 5px;
}

.btn-action {
    display: flex;
    align-items: center;
}

.btn-action .btn {
    margin-right: 10px;
}

.table th, .table td {
    vertical-align: middle;
}

.note {
    font-size: 14px;
    color: #73879c;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .d-flex .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}