.cozyhome-header {
    background: #ffffff;
    padding: 10px 20px;
    color: #2a3f54; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.3s, box-shadow 0.3s;
}

.cozyhome-header:hover {
    background: #ffffff; 
}

.cozyhome-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cozyhome-logo a {
    color: #2a3f54; 
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cozyhome-menu-toggle {
    display: none;
    background: none;
    margin-right: 30px;
    border: none;
    color: #2a3f54; 
    font-size: 1.8em;
    cursor: pointer;
    transition: color 0.3s;
}

.cozyhome-menu-toggle:hover {
    color: #1f2a38; 
}

.cozyhome-nav-links {
    margin-right: 30px;
    list-style: none;
    display: flex;
    gap: 25px;
}

.cozyhome-nav-links a {
    color: #2a3f54; 
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    transition: color 0.3s, transform 0.2s;
}

.cozyhome-nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #2a3f54; /* Màu nhấn khi hover */
    left: 50%;
    bottom: -5px;
    transition: width 0.3s, left 0.3s;
}

.cozyhome-nav-links a:hover {
    color: #1f2a38; /* Đổi màu chữ khi hover */
    transform: translateY(-2px);
}

.cozyhome-nav-links a:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width: 768px) {
    .cozyhome-menu-toggle {
        display: block;
    }

    .cozyhome-nav-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #ffffff; /* Nền trắng cho menu khi hiển thị trên di động */
        padding: 15px;
        border-radius: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: max-height 0.3s ease-in;
    }

    .cozyhome-nav-links.show {
        display: flex;
    }
}
